GEMINI_API_KEY=AIzaSyA3KvyWlfLEe2e1615ZvUxBetXnszr5NAg
VITE_GEMINI_API_KEY=AIzaSyA3KvyWlfLEe2e1615ZvUxBetXnszr5NAg
VITE_FIREBASE_API_KEY=AIzaSyB_5XDWU8fWG3KdGGpqKQi2_oBFp-B2lBw
VITE_FIREBASE_AUTH_DOMAIN=mewar-sync-1e32e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mewar-sync-1e32e
VITE_FIREBASE_STORAGE_BUCKET=mewar-sync-1e32e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1028215744156
VITE_FIREBASE_APP_ID=1:1028215744156:web:674d388cee1d59419c2f59
VITE_FIREBASE_MEASUREMENT_ID=G-H6SW3CFCBN
